@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-transition: cubic-bezier(0.43, 0.13, 0.23, 0.96);
}

@keyframes slideUp {
  from {
    transform: translateY(100%) rotate(90deg);
  }
  to {
    transform: translateY(0) rotate(90deg);
  }
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

